/*início do header*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  max-width: 1980px;
  padding: 0 2%;
  display: flex;
  margin: 0 auto;
}

.button {
  text-decoration: none;
}

.btn-enter a {
  padding: 3px 10px;
  background: #fff;
  height: 30px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
}

.btn-cad a {
  padding: 3px 10px;
  background: #fff;
  height: 20px;
  border: none;
  text-decoration: none;
  border-radius: 7px;
}

.btn {
  position: absolute;
  right: 280px;
  top: 15px;
  border: none;
  text-decoration: none;
  border-radius: 50px;
}

.btn-enter {
  position: absolute;
  right: 10px;
  top: 5px;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}

.btn-cad {
  position: absolute;
  right: 295px;
  top: 70px;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}

.hostal {
  padding-top: 30px;
  width: 10%;
  color: #fff;
}

header {
  padding: 0px 0;
  background-color: #9e2fba;
  height: 99px;
}
.menu-container {
  justify-self: space-between;
  text-align: right;
  width: 50%;
}

.menu-container a.active-menu {
  background-color: #d9d9d9;
}

.menu-container a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  padding: 30px 10px;
  line-height: 40px;
  transition: 0.8s;
  padding-top: 30px;
}

.menu-container a:hover {
  color: #9e2fba;
}

.translate {
  position: absolute;
  right: 153px;
  top: -10px;
}

.translate1 {
  position: absolute;
  right: 92px;
  top: -10px;
}

.translate2 {
  position: absolute;
  right: 32px;
  top: -10px;
}

.translate img {
  display: block;
  width: 30px;
  margin: 35px 0;
}

.translate1 img {
  display: block;
  width: 30px;
  margin: 35px 0;
}

.translate2 img {
  display: block;
  width: 30px;
  margin: 35px 0;
}
/*fim do header*/

/*inicio do quadro cinza*/
.list-group-item-dados-pessoais {
  width: 500px;
  height: 135px;
  list-style: none;
  padding: 2rem 1rem;
  margin-top: 0.5rem;
  margin-left: -20px;
  background-color: lightgray;
}

.list-group-item-reservas {
  width: 500px;
  height: 135px;
  display: block;
  list-style: none;
  padding: 2rem 1rem;
  margin-top: 0.5rem;
  margin-left: -20px;
  background-color: lightgray;
}

.list-group-item-avaliacoes {
  width: 500px;
  height: 135px;
  list-style: none;
  padding: 2rem 1rem;
  margin-top: 0.5rem;
  margin-left: -20px;
  background-color: lightgray;
}

.list-group-item-reclamacoes {
  width: 500px;
  height: 135px;
  list-style: none;
  padding: 2rem 1rem;
  margin-top: 0.5rem;
  margin-left: -20px;
  background-color: lightgray;
}
/*fim do quadro cinza*/

/*formulario*/
#titulo-avaliacoes {
  font-family: "Poppins", sans-serif;
  text-decoration: underline #9e2fba 5px;
  color: #818181;
  margin-left: 140%;
}

#subtitulo-avaliacoes {
  font-family: "Poppins", sans-serif;
  color: #818181;
  margin-left: 30%;
  position: absolute;
}

.formulario {
  top: 300px;
  left: 637px;
  position: absolute;
}

p {
  width: 500px;
  height: 100px;
  top: 50px;
  left: 220px;
}

.campo {
  width: 500px;
  height: 120px;
  top: 400px;
  left: 650px;
  position: absolute;
  color: #818181;
}

.botão-publicar {
  font-size: 1.2em;
  background: #9e2fba;
  border: 0.5;
  margin-bottom: 1em;
  color: #fff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2ox 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 570px;
  left: 600px;
  margin-right: 50%;
  border-radius: 50px;
  transform: translate(750%, 355%);
  display: flex;
}

.botão-publicar:hover {
  background: #59429d;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
/*formulario*/

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #9e2fba;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
}

.footerSide {
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 7rem;
}
.text-copyright {
  margin-right: 5.5rem;
  font-size: 16px;
}

.footer-logo {
  width: 8rem;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #fff;
}

a {
  color: #fff;
  padding-left: 1rem;
  text-decoration: none;
  margin-bottom: 0;
}

@media (max-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 87.5%;
  }
}
